<a href="https://colab.research.google.com/github/Oluwafemi0908/NitDEV_ML_Femi/blob/main/Data_Science_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Investigate a Dataset (Data Science Salary)
## Name: Oluwafemi Akinode
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Section I: Introduction

**Dataset**: [No-show appointments](https://d17h27t6h515a5.cloudfront.net/topher/2017/October/59dd2e9a_noshowappointments-kagglev2-may-2016/noshowappointments-kagglev2-may-2016.csv)

**Description**: This dataset contains salary information for data-related roles across different countries and companies. It includes details about the job title, experience level, employment type, salary (in local and USD), company location, and size. The data is ideal for exploring salary trends, job types, and compensation differences based on geography, experience, and company size.

**Columns Description**
- **`work_year`**:  The year the salary record was reported (e.g., 2023)
- **`experience_level`**: Employee’s level of experience
<ul> <li>EN - Entry-level</li>
 <li>MI - Mid-level</li>
 <li>SE - Senior-level</li>
 <li>EX - Executive-level</li></ul>
- **`employment_status`**: Type of employment:
<ul> <li>FT - Full-time</li>
 <li>PT - Part-time</li>
 <li>CT - Contract</li>
 <li>FL - Freelance</li></ul>     
- **`job_title`**: The specific role or title of the employee (e.g., Data Quality Analyst, Applied Scientist).
- **`salary`**:  The salary paid in the company's local currency.
- **`salary_currency`**: The currency in which the salary is paid (e.g., USD, NGN).
- **`salary_in_usd`**: The salary converted to USD for standard comparison.
- **`company_location`**: The country where the company is headquartered (e.g., US for United States, NG for Nigeria).
- **`company_size`**: The size of the company:
<ul> <li>S - Small</li>
 <li>M - Medium</li>
 <li>L - Large</li></ul>

***We will be investigating the dataset to uncover the following:***
1. We aim to identify the key features that significantly influence salary levels (salary_in_usd) in the tech/data field.

2. How do the Factors vary with Each Other?

**Research Areas**

***`Target Variable (salary_in_usd)`***:
We will study the patterns and distribution of salaries (standardized in USD) to understand compensation trends across various roles and factors. This will serve as the main variable to compare with others.

***`Univariate Analysis`***:
We will examine each variable independently to identify trends and patterns. Key focus areas include:

1. How experience_level impacts salaries.

2. The influence of employment_type on pay.

3. Common salary ranges for popular job_titles.

4. Country-specific salary patterns via company_location.

5. Distribution of companies by company_size.

*** `Multivariate Analysis` ***:
We will explore how variables interact and contribute to variations in salary:

1. Do larger companies consistently pay more for the same role and experience level?

2. How does experience_level correlate with job_title and employment_type?

3. Are certain combinations (e.g., SE + FT + L) predictive of higher salary_in_usd?

4. Analysis of correlations and interaction effects to inform salary prediction models.

**LIMITATIONS**

Lack of Detailed Experience Information

1.   The dataset categorizes experience broadly (e.g., Entry, Senior), but lacks specific years of experience, which limits precision in analyzing salary progression.
2.   No Industry Context
Salaries often vary across industries (e.g., finance vs healthcare), but the dataset does not include the industry or business sector.

3. Limited Geographic Granularity
Only the country of the company is provided (company_location), so regional salary variations within countries (e.g., New York vs Texas) cannot be captured.

4. Currency Conversion Ambiguity
The salary_in_usd field standardizes salaries to USD, but the methodology or exchange rate used for conversion is not provided.

5. Missing Individual-Level Factors
Personal attributes like education, skills, performance, and certifications—which can significantly influence salary—are not included.

6. Inconsistent Job Title Naming
Variability in job titles (e.g., “Data Analyst” vs “Analytics Specialist”) may result in classification challenges and affect role-based analysis.

7. Imbalanced Data Distribution
Some roles, countries, or experience levels may be overrepresented, which could bias results and affect generalizability.

8. No Information on Benefits or Bonuses
Total compensation often includes bonuses, equity, and perks, but this dataset focuses solely on base salary.

In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
drive.mount('content')

Mounted at content

In [ ]:
df = pd.read_csv('/content/content/MyDrive/Copy of Data Science Salary 2021 to 2023.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,EN,FT,Applied Scientist,213660,USD,213660,US,L
1,2023,EN,FT,Applied Scientist,130760,USD,130760,US,L
2,2023,EN,FT,Data Quality Analyst,100000,USD,100000,NG,L
3,2023,EN,FT,Compliance Data Analyst,30000,USD,30000,NG,L
4,2023,EN,FT,Applied Scientist,204620,USD,204620,US,L

In [ ]:
df.tail()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
3756,2020,SE,FT,Principal Data Scientist,130000,EUR,148261,DE,M
3757,2020,SE,FT,Data Scientist,80000,EUR,91237,AT,S
3758,2020,SE,FT,Data Science Manager,190200,USD,190200,US,M
3759,2020,SE,FT,Machine Learning Engineer,40000,EUR,45618,HR,S
3760,2020,SE,FT,Data Scientist,412000,USD,412000,US,L

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3761 entries, 0 to 3760
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   work_year         3761 non-null   int64
 1   experience_level  3761 non-null   object
 2   employment_type   3761 non-null   object
 3   job_title         3761 non-null   object
 4   salary            3761 non-null   int64
 5   salary_currency   3761 non-null   object
 6   salary_in_usd     3761 non-null   int64
 7   company_location  3761 non-null   object
 8   company_size      3761 non-null   object
dtypes: int64(3), object(6)
memory usage: 264.6+ KB

In [ ]:
df['experience_level'].unique()

array(['EN', 'EX', 'MI', 'SE'], dtype=object)

In [ ]:
df['employment_type'].unique()

array(['FT', 'PT', 'CT', 'FL'], dtype=object)

In [ ]:
df['company_size'].nunique()

array(['L', 'M', 'S'], dtype=object)

In [ ]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'company_location',
       'company_size'],
      dtype='object')

In [ ]:
df.describe(include='all')

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
count,3761.000000,3761,3761,3761,3.761000e+03,3761,3761.000000,3761,3761
unique,NaN,4,4,93,NaN,20,NaN,72,3
top,NaN,SE,FT,Data Engineer,NaN,USD,NaN,US,M
freq,NaN,2518,3724,1040,NaN,3229,NaN,3045,3157
mean,2022.374103,NaN,NaN,NaN,1.905999e+05,NaN,137555.178942,NaN,NaN
std,0.691252,NaN,NaN,NaN,6.711457e+05,NaN,63022.267974,NaN,NaN
min,2020.000000,NaN,NaN,NaN,6.000000e+03,NaN,5132.000000,NaN,NaN
25%,2022.000000,NaN,NaN,NaN,1.000000e+05,NaN,95000.000000,NaN,NaN
50%,2022.000000,NaN,NaN,NaN,1.375000e+05,NaN,135000.000000,NaN,NaN
75%,2023.000000,NaN,NaN,NaN,1.800000e+05,NaN,175000.000000,NaN,NaN
max,2023.000000,NaN,NaN,NaN,3.040000e+07,NaN,450000.000000,NaN,NaN

In [ ]:
df['work_year'].value_counts()

work_year
2023    1789
2022    1666
2021     230
2020      76
Name: count, dtype: int64

<a id='wrangling'></a>
## Section II: Data Wrangling
Data wrangling is the process of cleaning and unifying messy and complex data sets for easy access and analysis



### 1. General Properties (Dataset dimensions, columns/ rows/ data types)

In [ ]:
# .map method replaces text in a column using a dictionary

experience_dict = {'EN':"Entry-level", 'MI':'Mid-level','SE':'Senior-level','EX':'Executive-level'}
df['experience_level'] = df['experience_level'].map(experience_dict)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,Entry-level,FT,Applied Scientist,213660,USD,213660,US,L
1,2023,Entry-level,FT,Applied Scientist,130760,USD,130760,US,L
2,2023,Entry-level,FT,Data Quality Analyst,100000,USD,100000,NG,L
3,2023,Entry-level,FT,Compliance Data Analyst,30000,USD,30000,NG,L
4,2023,Entry-level,FT,Applied Scientist,204620,USD,204620,US,L
...,...,...,...,...,...,...,...,...,...
3756,2020,Senior-level,FT,Principal Data Scientist,130000,EUR,148261,DE,M
3757,2020,Senior-level,FT,Data Scientist,80000,EUR,91237,AT,S
3758,2020,Senior-level,FT,Data Science Manager,190200,USD,190200,US,M
3759,2020,Senior-level,FT,Machine Learning Engineer,40000,EUR,45618,HR,S
3760,2020,Senior-level,FT,Data Scientist,412000,USD,412000,US,L

In [ ]:
df['employment_type'] = df['employment_type'].map({'FT':'Full-time','PT':'Part-time','CT':'Contract','FL':'Freelance'})
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,Entry-level,Full-time,Applied Scientist,213660,USD,213660,US,L
1,2023,Entry-level,Full-time,Applied Scientist,130760,USD,130760,US,L
2,2023,Entry-level,Full-time,Data Quality Analyst,100000,USD,100000,NG,L
3,2023,Entry-level,Full-time,Compliance Data Analyst,30000,USD,30000,NG,L
4,2023,Entry-level,Full-time,Applied Scientist,204620,USD,204620,US,L
...,...,...,...,...,...,...,...,...,...
3756,2020,Senior-level,Full-time,Principal Data Scientist,130000,EUR,148261,DE,M
3757,2020,Senior-level,Full-time,Data Scientist,80000,EUR,91237,AT,S
3758,2020,Senior-level,Full-time,Data Science Manager,190200,USD,190200,US,M
3759,2020,Senior-level,Full-time,Machine Learning Engineer,40000,EUR,45618,HR,S
3760,2020,Senior-level,Full-time,Data Scientist,412000,USD,412000,US,L

In [ ]:
df['company_size'] = df['company_size'].map({'S':'Small','M':'Medium','L':'Large'})
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,Entry-level,Full-time,Applied Scientist,213660,USD,213660,US,Large
1,2023,Entry-level,Full-time,Applied Scientist,130760,USD,130760,US,Large
2,2023,Entry-level,Full-time,Data Quality Analyst,100000,USD,100000,NG,Large
3,2023,Entry-level,Full-time,Compliance Data Analyst,30000,USD,30000,NG,Large
4,2023,Entry-level,Full-time,Applied Scientist,204620,USD,204620,US,Large
...,...,...,...,...,...,...,...,...,...
3756,2020,Senior-level,Full-time,Principal Data Scientist,130000,EUR,148261,DE,Medium
3757,2020,Senior-level,Full-time,Data Scientist,80000,EUR,91237,AT,Small
3758,2020,Senior-level,Full-time,Data Science Manager,190200,USD,190200,US,Medium
3759,2020,Senior-level,Full-time,Machine Learning Engineer,40000,EUR,45618,HR,Small
3760,2020,Senior-level,Full-time,Data Scientist,412000,USD,412000,US,Large

In [ ]:
!pip install country_converter --upgrade

Collecting country_converter
  Downloading country_converter-1.3.1-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.11/dist-packages (from country_converter) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0->country_converter) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0->country_converter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0->country_converter) (1.17.0)
Downloading country_converter-1.3.1-py3-none-any.whl (47 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.3/47.3 kB 2.9 MB/s eta 0:00:00
Installing collected packages: country_converter
Successfully installed country_converter-1.3.1

In [ ]:
import country_converter as coco
cc = coco.CountryConverter()

In [ ]:
df['company_location'] = cc.convert(df['company_location'], to='name_short')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,Entry-level,Full-time,Applied Scientist,213660,USD,213660,United States,Large
1,2023,Entry-level,Full-time,Applied Scientist,130760,USD,130760,United States,Large
2,2023,Entry-level,Full-time,Data Quality Analyst,100000,USD,100000,Nigeria,Large
3,2023,Entry-level,Full-time,Compliance Data Analyst,30000,USD,30000,Nigeria,Large
4,2023,Entry-level,Full-time,Applied Scientist,204620,USD,204620,United States,Large
...,...,...,...,...,...,...,...,...,...
3756,2020,Senior-level,Full-time,Principal Data Scientist,130000,EUR,148261,Germany,Medium
3757,2020,Senior-level,Full-time,Data Scientist,80000,EUR,91237,Austria,Small
3758,2020,Senior-level,Full-time,Data Science Manager,190200,USD,190200,United States,Medium
3759,2020,Senior-level,Full-time,Machine Learning Engineer,40000,EUR,45618,Croatia,Small
3760,2020,Senior-level,Full-time,Data Scientist,412000,USD,412000,United States,Large

In [ ]:
df['job_title'].unique()

array(['Applied Scientist', 'Data Quality Analyst',
       'Compliance Data Analyst', 'Machine Learning Engineer',
       'Research Scientist', 'Data Engineer', 'Data Analyst',
       'Data Scientist', 'BI Data Engineer', 'Research Engineer',
       'Business Data Analyst', 'Autonomous Vehicle Technician',
       'Applied Machine Learning Scientist', 'AI Programmer',
       'AI Developer', 'Computer Vision Engineer', 'BI Developer',
       'Big Data Engineer', 'Deep Learning Engineer', 'Head of Data',
       'Analytics Engineer', 'Data Architect', 'Director of Data Science',
       'Head of Data Science', 'Data Analytics Manager', 'ML Engineer',
       'Applied Machine Learning Engineer', 'Applied Data Scientist',
       'ETL Engineer', 'Data Specialist', 'Lead Data Analyst',
       'Data Manager', 'Machine Learning Scientist', 'MLOps Engineer',
       'Financial Data Analyst', 'Software Data Engineer',
       'Data Science Manager', 'Data Science Consultant',
       'Machine Learning Infrastructure Engineer', 'Insight Analyst',
       'AI Scientist', 'Data Infrastructure Engineer',
       'Data Science Lead', 'Product Data Analyst', 'Data Analytics Lead',
       'Machine Learning Research Engineer', 'Principal Data Scientist',
       'Data Modeler', 'Business Intelligence Engineer',
       'Data Strategist', 'Data DevOps Engineer',
       'Machine Learning Researcher', 'Cloud Database Engineer',
       'Data Operations Engineer', 'Deep Learning Researcher',
       'BI Analyst', 'Data Analytics Specialist', 'BI Data Analyst',
       'Machine Learning Software Engineer', 'Big Data Architect',
       'Computer Vision Software Engineer', 'Azure Data Engineer',
       'Data Lead', 'Data Science Engineer', 'NLP Engineer',
       'Machine Learning Developer', 'Data Analytics Engineer',
       'Data Analytics Consultant', '3D Computer Vision Researcher',
       'Lead Data Engineer', 'Head of Machine Learning',
       'Data Scientist Lead', 'Lead Data Scientist', 'ETL Developer',
       'Principal Data Analyst', 'Manager Data Management',
       'Principal Machine Learning Engineer',
       'Data Management Specialist', 'Data Science Tech Lead',
       'Cloud Data Engineer', 'Data Operations Analyst',
       'Marketing Data Analyst', 'Product Data Scientist',
       'Principal Data Architect', 'Machine Learning Manager',
       'Lead Machine Learning Engineer', 'Marketing Data Engineer',
       'Power BI Developer', 'Cloud Data Architect',
       'Principal Data Engineer', 'Staff Data Scientist',
       'Finance Data Analyst', 'Staff Data Analyst'], dtype=object)

In [ ]:
df['job_title'].value_counts()

job_title
Data Engineer                1040
Data Scientist                840
Data Analyst                  614
Machine Learning Engineer     291
Analytics Engineer            103
                             ...
Marketing Data Engineer         1
Cloud Data Architect            1
Staff Data Scientist            1
Finance Data Analyst            1
Staff Data Analyst              1
Name: count, Length: 93, dtype: int64

In [ ]:
def replace_job(job):
  if  'Analyst' in job or 'Analytics' in job:
      return 'Data Analyst'
  elif 'Data' in job and ('Engineer' in job or 'Manager' in job or 'Management' in job or 'Lead' in job):
      return 'Data Engineer'
  elif 'Machine' in job and 'Learning' in job or 'ML' in job:
      return 'ML Engineer'

  elif 'Data' in job and ('Scientist' in job or 'Science' in job):
      return 'Data Scientist'
  elif 'Data' in job and 'Architect' in job:
      return 'Data Architect'
  elif 'Research Scientist' in job or 'Applied Scientist' in job:
        return 'Research Scientist'
  elif 'ai scientist' in job.lower() or 'ai developer' in job.lower() or 'ai programmer' in job.lower():
        return 'AI Engineer'
  elif 'bi' in job.lower() or 'business intelligence' in job.lower():
        return 'BI Developer'
  elif 'vision' in job.lower() or 'nlp' in job.lower() or 'deep learning' in job.lower() or 'autonomous vehicle' in job.lower():
        return 'AI Engineer'
  elif 'cloud' in job.lower() or 'database' in job.lower() or 'etl' in job.lower():
        return 'Data Engineer'
  elif 'modeler' in job.lower() or 'strategist' in job.lower() or 'data specialist' in job.lower() or 'head of data' in job.lower():
        return 'Data Analyst'
  else:
    return job

In [ ]:
df['job_title'] = df['job_title'].apply(replace_job)
df['job_title'].value_counts()

job_title
Data Engineer         1139
Data Scientist         982
Data Analyst           851
ML Engineer            417
Research Scientist     140
Data Architect         105
AI Engineer             72
Research Engineer       37
BI Developer            18
Name: count, dtype: int64

In [ ]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size
0,2023,Entry-level,Full-time,Research Scientist,213660,USD,213660,United States,Large
1,2023,Entry-level,Full-time,Research Scientist,130760,USD,130760,United States,Large
2,2023,Entry-level,Full-time,Data Analyst,100000,USD,100000,Nigeria,Large
3,2023,Entry-level,Full-time,Data Analyst,30000,USD,30000,Nigeria,Large
4,2023,Entry-level,Full-time,Research Scientist,204620,USD,204620,United States,Large
...,...,...,...,...,...,...,...,...,...
3756,2020,Senior-level,Full-time,Data Scientist,130000,EUR,148261,Germany,Medium
3757,2020,Senior-level,Full-time,Data Scientist,80000,EUR,91237,Austria,Small
3758,2020,Senior-level,Full-time,Data Scientist,190200,USD,190200,United States,Medium
3759,2020,Senior-level,Full-time,ML Engineer,40000,EUR,45618,Croatia,Small
3760,2020,Senior-level,Full-time,Data Scientist,412000,USD,412000,United States,Large

In [ ]:
# Creating a salary range feature
def salary_range(salary):
  if salary < 10000:
    return "below $10,000"
  elif salary < 25000:
    return "$10,000 - $25,000"
  elif salary < 50000:
    return "$25,000 - $50,000"
  elif salary < 100000:
    return "$50,000 - $100,000"
  elif salary < 200000:
    return "$100,000 - $200,000"
  else:
    return "above $200,000"

df['salary_range'] = df['salary_in_usd'].apply(salary_range)

In [78]:
# Create a work duration from 2010
df.insert(1, 'work_duration', df['work_year'].apply(lambda x: x-2010))

In [79]:
# converting salary to naira
df['salary_in_naira'] = df['salary_in_usd'].apply(lambda x: "{:.2f}".format(x*1528.52))
df

,work_year,work_duration,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,company_location,company_size,salary_in_naira,salary_range
0,2023,13,Entry-level,Full-time,Research Scientist,213660,USD,213660,United States,Large,326583583.20,"above $200,000"
1,2023,13,Entry-level,Full-time,Research Scientist,130760,USD,130760,United States,Large,199869275.20,"$100,000 - $200,000"
2,2023,13,Entry-level,Full-time,Data Analyst,100000,USD,100000,Nigeria,Large,152852000.00,"$100,000 - $200,000"
3,2023,13,Entry-level,Full-time,Data Analyst,30000,USD,30000,Nigeria,Large,45855600.00,"$25,000 - $50,000"
4,2023,13,Entry-level,Full-time,Research Scientist,204620,USD,204620,United States,Large,312765762.40,"above $200,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
3756,2020,10,Senior-level,Full-time,Data Scientist,130000,EUR,148261,Germany,Medium,226619903.72,"$100,000 - $200,000"
3757,2020,10,Senior-level,Full-time,Data Scientist,80000,EUR,91237,Austria,Small,139457579.24,"$50,000 - $100,000"
3758,2020,10,Senior-level,Full-time,Data Scientist,190200,USD,190200,United States,Medium,290724504.00,"$100,000 - $200,000"
3759,2020,10,Senior-level,Full-time,ML Engineer,40000,EUR,45618,Croatia,Small,69728025.36,"$25,000 - $50,000"
3760,2020,10,Senior-level,Full-time,Data Scientist,412000,USD,412000,United States,Large,629750240.00,"above $200,000"

In [80]:
# Create a monthly salary feature
df.insert(8, 'salary_per_month(usd)', df ['salary_in_usd'].apply(lambda x: x/12))

In [81]:
df

,work_year,work_duration,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,salary_per_month(usd),company_location,company_size,salary_in_naira,salary_range
0,2023,13,Entry-level,Full-time,Research Scientist,213660,USD,213660,17805.000000,United States,Large,326583583.20,"above $200,000"
1,2023,13,Entry-level,Full-time,Research Scientist,130760,USD,130760,10896.666667,United States,Large,199869275.20,"$100,000 - $200,000"
2,2023,13,Entry-level,Full-time,Data Analyst,100000,USD,100000,8333.333333,Nigeria,Large,152852000.00,"$100,000 - $200,000"
3,2023,13,Entry-level,Full-time,Data Analyst,30000,USD,30000,2500.000000,Nigeria,Large,45855600.00,"$25,000 - $50,000"
4,2023,13,Entry-level,Full-time,Research Scientist,204620,USD,204620,17051.666667,United States,Large,312765762.40,"above $200,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3756,2020,10,Senior-level,Full-time,Data Scientist,130000,EUR,148261,12355.083333,Germany,Medium,226619903.72,"$100,000 - $200,000"
3757,2020,10,Senior-level,Full-time,Data Scientist,80000,EUR,91237,7603.083333,Austria,Small,139457579.24,"$50,000 - $100,000"
3758,2020,10,Senior-level,Full-time,Data Scientist,190200,USD,190200,15850.000000,United States,Medium,290724504.00,"$100,000 - $200,000"
3759,2020,10,Senior-level,Full-time,ML Engineer,40000,EUR,45618,3801.500000,Croatia,Small,69728025.36,"$25,000 - $50,000"
3760,2020,10,Senior-level,Full-time,Data Scientist,412000,USD,412000,34333.333333,United States,Large,629750240.00,"above $200,000"

In [94]:
# Extract average salary based on country, per experience level, per employment type per work year
avg_salary = df.groupby(['company_location', 'experience_level', 'employment_type', 'work_year'])['salary_in_usd'].mean().reset_index()
avg_salary.rename(columns ={'salary_in_usd':'avg_salary'}, inplace=True)
avg_salary.head(60)

,company_location,experience_level,employment_type,work_year,avg_salary
0,Albania,Senior-level,Full-time,2022,10000.000000
1,Algeria,Entry-level,Part-time,2022,100000.000000
2,American Samoa,Entry-level,Full-time,2021,19026.500000
3,American Samoa,Entry-level,Full-time,2022,50000.000000
4,Argentina,Entry-level,Full-time,2022,25000.000000
5,Armenia,Mid-level,Full-time,2023,50000.000000
6,Australia,Entry-level,Full-time,2021,42028.000000
7,Australia,Entry-level,Full-time,2022,78292.750000
8,Australia,Entry-level,Full-time,2023,70000.000000
9,Australia,Mid-level,Full-time,2021,75050.000000
10,Australia,Mid-level,Full-time,2022,66363.250000
11,Australia,Senior-level,Freelance,2023,50000.000000
12,Australia,Senior-level,Full-time,2022,152383.000000
13,Austria,Entry-level,Full-time,2022,50000.000000
14,Austria,Mid-level,Full-time,2020,74130.000000
15,Austria,Mid-level,Full-time,2021,61467.000000
16,Austria,Mid-level,Full-time,2022,75647.500000
17,Austria,Senior-level,Full-time,2020,91237.000000
18,Bahamas,Mid-level,Freelance,2021,45555.000000
19,Belgium,Entry-level,Full-time,2022,68030.500000
20,Belgium,Mid-level,Full-time,2021,88654.000000
21,Belgium,Senior-level,Full-time,2021,82744.000000
22,Bolivia,Mid-level,Contract,2022,7500.000000
23,Bosnia and Herzegovina,Entry-level,Full-time,2023,120000.000000
24,Brazil,Entry-level,Full-time,2022,7034.500000
25,Brazil,Entry-level,Full-time,2023,19522.000000
26,Brazil,Mid-level,Full-time,2021,12901.000000
27,Brazil,Mid-level,Full-time,2022,57698.777778
28,Brazil,Senior-level,Full-time,2021,21453.500000
29,Canada,Entry-level,Full-time,2022,88764.600000
30,Canada,Entry-level,Full-time,2023,46208.000000
31,Canada,Executive-level,Full-time,2020,15000.000000
32,Canada,Executive-level,Full-time,2022,144411.666667
33,Canada,Mid-level,Full-time,2021,95316.000000
34,Canada,Mid-level,Full-time,2022,79864.444444
35,Canada,Mid-level,Full-time,2023,115000.000000
36,Canada,Senior-level,Full-time,2020,117104.000000
37,Canada,Senior-level,Full-time,2021,115893.142857
38,Canada,Senior-level,Full-time,2022,152025.000000
39,Canada,Senior-level,Full-time,2023,157545.000000
40,Central African Republic,Senior-level,Full-time,2023,48609.000000
41,Chile,Mid-level,Full-time,2021,40038.000000
42,China,Entry-level,Full-time,2021,100000.000000
43,Colombia,Entry-level,Full-time,2021,21844.000000
44,Colombia,Senior-level,Full-time,2022,125000.000000
45,Colombia,Senior-level,Full-time,2023,56500.000000
46,Costa Rica,Entry-level,Full-time,2022,50000.000000
47,Croatia,Mid-level,Full-time,2023,91142.500000
48,Croatia,Senior-level,Full-time,2020,45618.000000
49,Czechia,Entry-level,Contract,2022,30469.000000
50,Czechia,Mid-level,Full-time,2021,69999.000000
51,Czechia,Mid-level,Full-time,2022,5132.000000
52,Denmark,Entry-level,Full-time,2020,45896.000000
53,Denmark,Entry-level,Part-time,2021,23841.000000
54,Denmark,Senior-level,Full-time,2021,88654.000000
55,Egypt,Mid-level,Full-time,2022,22800.000000
56,Estonia,Mid-level,Full-time,2022,31520.000000
57,Estonia,Senior-level,Full-time,2023,63312.000000
58,Finland,Mid-level,Full-time,2023,75020.000000
59,Finland,Senior-level,Full-time,2022,63040.000000